.navBar_Design{
    background-color: rgba(98, 116, 126, 0.297) !important;
    a{
        color: aliceblue;
    }
    .nav-menu{
        margin-right: auto;
        width: 100%;
        justify-content: center;

        a{
            margin-right: 1vw;
            margin-left: 1vw;
            color: rgb(165, 208, 250);
        }
    }
}