.custom_input{
    
    input{
        background-color: rgba(255, 255, 255, 0.786);
        border: 4px solid rgba(114, 135, 120, 0.787);
        color: black;
        font-size: 1.1rem;
        margin-bottom: 2vh;
    }
}