@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    /**/

    /*background*/
    --background-color:rgb(180, 180, 180);

    /**/
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    /**/
    
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
