.Footer_Design {
    color: aqua;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.733);
    font-size: 1.2rem;
    text-decoration: underline;
  }
  @media (max-width: 430px) {
    .Footer_Design {
      height: 25vh;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  }